	body {
		margin: 0;
		padding: 0;
	}
	.nav {
		width: 100%;
		height: 79px;
		background-color: rgba(0,0,0,0.15);
		position: fixed;
		top: 0;
		z-index: 999;
	}
	.navneirong {
		width: 1310px;
		height: 79px;
		margin: 0 auto ;
		position: relative;
	}
	.suxinhuahuitext {
		float: left;
	}
	.suxinhuahuitext img {
		width: 150px;
		height: 50px;
		margin-top: 15px;
	}
	.navlist ul li a {
		text-decoration: none;
		color: white;
		padding: 0px 15px;
		font-size: 14px;
		line-height: 79px;
	}
	.navlist ul li {
		display: inline-block;
	}
	.navlist ul {
		margin-top: 0;
		list-style: none;
	}
	.navlist {
		height: 79px;
		position: absolute;
		top: 0;
		right: 0;
		float: left;
	}
	.navlist ul li a:hover {
		color: #16b0dc;
	}
	.picture {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.picture img {
		width: 100%;
		height: 100%;
	}
	.tu11 {
		width: 100%;
		height: 100%;
	}
	.tu22 {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.tu22 a img {
		position: absolute;
		top: 0;
		left: -100%;
	}
	.zuo {
		width: 10%;
		height: 100%;
		background-image: linear-gradient(90deg,rgba(0,0,0,0.3),rgba(0,0,0,0.1));
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
	}
	.zuo {
		text-align: right;
		line-height: 1074px;
	}
	.zuo a {
		font-size: 30px;
		text-decoration: none;
		color: white;
	}
	.you {
		width: 10%;
		height: 100%;
		background-image: linear-gradient(-90deg,rgba(0,0,0,0.3),rgba(0,0,0,0.1));
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
	}
	.you {
		text-align: left;
		line-height: 1074px;
	}
	.you a {
		font-size: 30px;
		text-decoration: none;
		color: white;
	}
	.mid {
		width: 100%;
		position: absolute;
		bottom: 50px;
		text-align: center;
		color: #faf2d2;
		font-size: 30px;
	}
	.midtu {
		width: 80px;
		position: absolute;
		bottom: 5px;
		left: 50%;
		margin-left: -40px;
	}
	.midtu ul li {
		list-style-type: none;
	}
	.midtu ul li a .hotrt {
		background: #ff6700;
	}
	.midtu ul {
		padding: 0;
	}
	.a1 {
		width: 20px;
		height: 20px;
		background-color: white;
		border: none;
		border-radius: 50%;
		margin-left: 15px;
		float: left;
	}
	.a2 {
		width: 20px;
		height: 20px;
		background-color: white;
		border: none;
		border-radius: 50%;
		margin-right: 15px;
		float: right;
	}
	.suxinhuayineirong {
		width: 100%;
		padding: 70px 0;
	}
	.suxinhuayi {
		width: 1310px;
		height: 628px;
		margin: auto;
		padding: 0 15px;
	}
	.suxinhuayi h3 {
		font-size: 36px;
		font-family: 仿宋;
		text-align: center;
		font-weight: 300px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.suxinhuayi p {
		font-size: 16px;
		font-weight: 300;
		text-align: center;
		width: 80%;
		color: #5e7387;
		margin: 0 auto;
	}
	.suxinhuayi input {
		font-size: 12px;
		color: white;
		padding: 5px 13px;
		margin-top: -6px;
		line-height: 1.5;
		border: none;
		border-radius: 3px;
		background-color: #62a8ea;
		vertical-align: middle;
	}
	.hua1tu {
		width: 1280px;
		height: 550px;
		position: relative;
		margin-top: 30px;
		overflow: hidden;
	}
	.hua11 {
		width: 100%;
		height: 100%;
	}
	.hua11 ul {
		height: 100%;
		list-style: none;
		position: absolute;
		left: 0;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		transition: all 0.2s;
	}
	.hua11 ul li {
		width: 320px;
		height: 100%;
		margin-left: 88px;
	}
	.hua11c {
		width: 100%;
		height: 40px;
		position: absolute;
		top: 175px;
		display: flex;
		justify-content: space-between;
	}
	.hua11c div {
		line-height: 40px;
		width: 20px;
		color: #fff;
		background-color: #A3AFB7;
		text-align: center;
		cursor: pointer;
		z-index: 55;
	}
	.hua1 {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		border: 0px solid;
		overflow: hidden;
		margin-left: 10px;
	}
	.hua1 img {
		width: 366px;
		height: 366px;
	}
	.hua1zi h3 {
		margin-top: 10px;
		font-size: 20px;
	}
	.chaxunxiangqing {
		width: 100%;
		height: 36px;
		text-align: center;
		background-color: rgb(294,104,104);
		border: none;
		border-radius: 5px;
		margin-top: 5px;
	}
	.chaxunxiangqing a {
		line-height: 36px;
		text-decoration: none;
		color: white;
	}
	.suxinhuayu {
		width: 1310px;
		height: 567px;
		margin: 0 auto;
	}
	.suxinhuayu h3 {
		font-size: 36px;
		font-family: 仿宋;
		margin-top: 0;
		text-align: center;
	}
	.suxinhuayu input {
		font-size: 12px;
		color: white;
		padding: 5px 13px;
		margin-top: -6px;
		margin-left: 15px;
		line-height: 1.5;
		border: none;
		border-radius: 3px;
		background-color: #62a8ea;
		vertical-align: middle;
	}
	.suxinhuayubj {
		padding-top: 70px;
		width: 100%;
		height: 650px;
		background-color: rgb(245,245,245);
	}
	.suxin {
		width: 1310px;
		height: 504px;
		position: relative;
	}
	.suxin ul li {
		display: inline-block;
		width: 655px;
		height: 96px;
	}
	.sx1 {
		float: left;
		width: 160px;
		height: 96px;
	}
	.sx1 img {
		width: 160px;
		height: 96px;
	}
	.sx11 {
		float: right;
		width: 445px;
		height: 96px;
		margin-right: 35px;
	}
	.sx11 a {
		font-size: 18px;
		text-decoration: none;
		color: black;
	}
	.sx11 p {
		line-height: 18px;
		color: rgb(118,131,143);
	}
	.sx11 a:hover{
		color: skyblue;
	}

	.sx12 {
		position: absolute;
		top: 0;
		right: 0;
	}
	.sx13 {
		margin-top: 20px;
	}
	.sx15 {
		margin-top: 20px;
	}
	.sx16 {
		margin-top: 20px;
	}
	.sx17 {
		position: absolute;
		top: 120px;
		right: 0;
	}
	.sx18 {
		position: absolute;
		top: 240px;
		right: 0;
	}
	.sx19 {
		position: absolute;
		top: 360px;
		right: 0;
	}
	.gong {
		width: 100%;
		height: 850px;
		padding-top: 50px;
	}
	.gong1 {
		width: 1310px;
		height: 765px;
		margin: 0 auto;
		padding-right: 15px;
		padding-left: 15px;
	}
	.gong1 h3 {
		font-size: 36px;
		margin-top: 0;
		text-align: center;
		font-weight: 300;
		font-family: 仿宋;
	}
	.gong2 {
		width: 1280px;
		height: 672px;
		margin-top: 50px;
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
	.gongtu {
		width: 1300px;
	}
	.footer {
		width: 100%;
		height: 182px;
		background-color: rgb(245,245,245);
	}
	.icons {
		width: 100%;
		height: 56px;
		text-align: center;
	}
	.icons a {
		text-decoration: none;
		font-size: 40px;
		color: skyblue;
		line-height: 56px;
		margin: 10px;
	}
	#weixin {
		color: green;
	}
	.dizi {
		width: 1310px;
		height: 75px;
		margin: 0 auto;
		text-align: center;
	}
	.dizi a {
		text-decoration: none;
		color: skyblue;
		font-size: 14px;
	}
	.dizi p {
		font-size: 14px;
		color: #aaaaaa;
	}
